main{
    background-color: #C3C3C3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 5%;
    background-color: rgb(255, 255, 255);
}

p{
    margin-top: 0;
}

.h4{
    color: rgb(251, 86, 48);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.box-produto {
    width: 180px;
    height: 420px;
    margin-top: 50px;
    margin: 10px auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    font-style: #666;
    cursor: pointer;
    transition: 1s;
}

  .box-produto:hover{
    background-color: rgb(224, 224, 224);
  }
  
.box-produto img{
    width: 90%;
    height: auto;
    margin-bottom: 5px;
    margin-left: 8px;
}
  
.box-produto p {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    text-align: left;
}

.box-produto p.fabricante::before {
    content: "Fabricante: ";
    font-weight: bold;
}
  
.box-produto p.descricao::before {
    content: "Descrição: ";
    font-weight: bold;
}

.preco-disponibilidade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  white-space: nowrap;
}

.preco-disponibilidade .preco{
    font-size: 16px;
    color: rgb(251, 86, 48);
}

.preco-disponibilidade .disponibilidade{
    font-size: 14px;
    color: #666;
}

.linha{
    display: flex;
    flex-direction: row;
    width: 100%;
}